/********* Wrappers: *************************/
/* sets dimensions for main content areas */

/** Everything Wrapper **/
/**{*/
    /*font-family: 'Oswald', sans-serif;*/
/*}*/

.everything-wrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #EF5350;
}
/** Header Wrapper **/
.header-wrapper {
    height: 14%;
    width: 100%;
    position: relative;
    background-color:#F44336;
}
/** Wheel Wrapper **/
.wheel-content-wrapper {
    height:75%;
    width: 100%;
    position: relative;
    background-color: #FFFFFF;
}
/** Footer Wrapper **/
.footer-wrapper {
    height: 1%;
    width: 100%;
    background-color: #EF5350;
    margin: auto;
}
/** Modal Wrapper (hidden) **/
.modal-wrapper {
    box-sizing: border-box;
    display: none;
    position: absolute;
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
    padding-top: 5%;
    padding-left: 5%;
    border: 1px solid black;
    background-color: lightgray;
}
/** Wheel Wrapper (displayed) **/
.modal-wrapper.display {
    display: inherit;
}
/** Footer Button Wrappers **/
.help-button-wrapper, .location-button-wrapper, .settings-button-wrapper, .camera-button-wrapper, .direction-button-wrapper{
    width: 16%;
    height: 100%;
    display: inline-block;
    margin: auto;
}

/*********** Header content *************/
/* Header content broken into sub-sections */

/** Logo **/

#dice-logo {
    /*position: absolute;*/
    /*left:50%;*/
    /*transform: translate(-50%,-50%);*/
    /*top: 72%;*/
    height: 44%;
    width: auto;
}
#main-title{
    display:inline-block;
    font-size:52px;
    vertical-align: top;
}
.header-logo {
    height: 100%;
    width: 11%;
    position: absolute;
    background-color: #D32F2F;
    left: 0;
}
/** Title **/
.header-title {
    display: inline-block;
    background-color: #F44336;
    font-family: 'Oswald', sans-serif;
    color: white;
    position: absolute;
    left: 45%;
    transform: translate(-50%,-50%);
    top: 87%;
    height: 44%;
    width: auto
}

/*********** Main Wheel content *************/
/* Main content broken into sub-sections */

/** Wheel **/

.wheel-left {
    display: block;
    width: 25%;
    float: left;
}

.wheel-right {
    display: block;
    width: 70%;
    height: 100%;
    float: right;
}

.restaurant {
    display: block;
    width: 100%;
    padding: 0.5em;
    border: 1px solid black;
}

.restaurant p {
    margin: 0;
}

.restaurant-name {
    font-weight: bold;
}

/** Test Display for button generated food type **/
#display-food-type {
    border: 1px solid black;
    height:50px;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
}

#spin-button {
    width: 100%;
}
/*//for wheel*/

#colorWheel{
    display:block;
    webkit-transition: -webkit-transform 5s ease-out;
}


/*********** Footer content *************/
/* Footer content broken into sub-sections */

/** Help Button **/
.help-button-wrapper {
    background-color: #EF5350;
}
/** Location Button **/
.location-button-wrapper {
    background-color: #EF5350;
}
/** Settings Button **/
.settings-button-wrapper {
    background-color: ##EF5350;
}
/** Camera Button **/
.camera-button-wrapper {
    background-color: lightslategrey;
}
/** Direction Button **/
.direction-button-wrapper {
    background-color: lightslategrey;
}

.bottom-icons{
    width:20px;
    height:20px;
}