/********* Wrappers: *************************/
/* sets dimensions for main content areas */

/** Everything Wrapper **/
/**{*/
    /*font-family: 'Oswald', sans-serif;*/
/*}*/

.everything-wrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #EF5350;
}
/** Header Wrapper **/
.header-wrapper {
    height: 10%;
    width: 100%;
    position: relative;
    background-color: #D32F2F;
    max-height: 220px;
}
/** Wheel Wrapper **/
.wheel-content-wrapper {
    height:80%;
    width: 100%;
    position: relative;
    background-color: #FFFFFF;
}
/** Footer Wrapper **/
.footer-wrapper {
    height: 10%;
    width: 100%;
    background-color: #EF5350;
    margin: auto;
    box-sizing: border-box;
    position: relative;
    font-size: 0;
}
/** Modal Wrapper (hidden) **/
.modal-wrapper {
    box-sizing: border-box;
    display: none;
    position: absolute;
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
    padding-top: 5%;
    padding-left: 5%;
    border: 1px solid black;
    background-color: lightgray;
}
/** Wheel Wrapper (displayed) **/
.modal-wrapper.display {
    display: inherit;
}
/** Footer Button Wrappers **/
.help-button-wrapper,
.location-button-wrapper,
.settings-button-wrapper,
.photo-button-wrapper
{
    width: 20%;
    height: 100%;
    display: inline-block;
    margin: auto;
    position: relative;
    font-size: initial;
}

/*********** Header content *************/
/* Header content broken into sub-sections */

/** Title and Logo **/

.dice-logo {
    height: 50%;
    display: inline-block;
}
.main-title{
    display: inline-block;
    color: white;
    min-width: 203px;
    vertical-align: top;
}
.header-logo {
    height: 50%;
    min-height: 111px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    min-width: 263px;
}
/** Title **/
.header-title {
    display: inline-block;
    background-color: #F44336;
    font-family: 'Oswald', sans-serif;
    color: white;
    position: absolute;
    left: 45%;
    transform: translate(-50%,-50%);
    top: 87%;
    height: 44%;
    width: auto
}

/*********** Main Wheel content *************/
/* Main content broken into sub-sections */

/** Wheel **/
.wheel {
    position: relative;
    height: 100%;
    width: 100%;
    font-size: 0;
}
div.wheel-left {
    display: inline-block;
    width: 50%;
    position: relative;
    height: 100%;
    font-size: initial;
    box-sizing: border-box;
}

div.wheel-right {
    display: inline-block;
    width: 50%;
    height: 100%;
    position: relative;
    font-size: initial;
    vertical-align: top;
}

.restaurant {
    display: block;
    width: 100%;
    padding: 0.5em;
    border: 1px solid black;
    position: relative;
    box-sizing: border-box;
    margin: auto;
    text-align: center;
}
/*.wheel-right .restaurant:first-child, .wheel-right .restaurant:last-child {*/
    /*background-color: #FAC158;*/
/*}*/
/*.wheel-right .restaurant:first-child {*/
    /*border-radius: 100% 100% 10% 10%;*/
/*}*/
/*.wheel-right .restaurant:nth-child(2) {*/
    /*border-radius: 3% 3% 10% 10%;*/
    /*background-color: #84d644;*/
/*}*/
/*.wheel-right .restaurant:nth-child(3){*/
    /*border-radius: 3% 3% 10% 10%;*/
    /*background-color: #fb3434;*/
/*}*/
/*.wheel-right .restaurant:nth-child(2) {*/
    /*border-radius: 3% 3% 10% 10%;*/
    /*background-color: #a77932;*/
/*}*/
/*.wheel-right .restaurant:last-child {*/
    /*border-radius: 3% 3% 10% 10%;*/
/*}*/
/*.restaurant p {*/
    /*!*margin: 0;*!*/
/*}*/

.restaurant-name {
    font-weight: bold;
}

/** Help modal styling. **/
#help-modal-wrapper {
    padding-right: 5%;
}

.product-name {
    font-weight: bold;
    font-style: italic;
}
/** Test Display for button generated food type **/
#display-food-type {
    border: 1px solid black;
    height:15%;
    width: 90%;
    text-align: center;
    text-transform: capitalize;
    margin: 15% 5% 0;
    position: relative;
}

#spin-button {
    width: 80%;
    height: 10%;
    position: absolute;
    margin: 5% 10%;
    border-radius: 100% 100%;
}
/*//for wheel*/

#colorWheel{
    display: inline-block;
    height: 70%;
    width: auto;
    webkit-transition: -webkit-transform 5s ease-out;
    position: absolute;
    margin: 15% 0;
}

/*********** Footer content *************/
/* Footer content broken into sub-sections */

/** Help Button **/
.help-button-wrapper {
    background-color: #EF5350;
    font-family: "Times New Roman";
    font-size:150px;
    color:white;
}
/** Location Button **/
.location-button-wrapper {
    background-color: #EF5350;
}
/** Settings Button **/
.settings-button-wrapper {
    background-color: #EF5350;
}
/** Camera Button **/
.camera-button-wrapper {
    background-color: lightslategrey;
}
/** photo Button **/
.photo-button-wrapper {
    background-color: yellow;
}
/** Direction Button **/
.direction-button-wrapper {
    background-color: lightslategrey;
}
.bottom-icons {
    width: 58%;
    height: auto;
}
/** Exit Button **/
.exit-button-wrapper {
    background-color: yellow;
}


/* Float Clearfix
=============================== */

.group::after {
    content: " ";
    display: table;
    clear: both;
}

/* Media Queries
=============================== */

@media (max-width: 768px) {
    .header-wrapper,
    .wheel-content-wrapper,
    .wheel,
    .footer-wrapper,
    .restaurant
    {
        display: block;
        width: 100%;
        margin: initial;
        float: initial;
    }
    .everything-wrapper {
        height: 150vh;
        margin: 0;
        width: 100vw;

    }
    #div-wheel-left,
    #div-wheel-right
    {
        width: 100%;
    }
    .wheel {
        height: 80%;
        box-sizing: border-box;
    }
    #div-wheel-right {
        height: 70%;
        margin: 5% 0;
    }
    #div-wheel-left {
        height: 30%;
        margin: 3% 0;
    }
    #display-food-type, #spin-button {
        width: 100%;
        margin: 0 0 5%;
        height: 50%;
        display: block;
    }
}